@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

a {
    color: white;
}

.btn {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-rounded {
    border-radius: 10px;
}

.btn-large {
    padding: 15px 40px;
    font-size: 16px;
}

.btn-green {
    background-color: #06DC5A;
}

.btn-green:hover {
    background-color: #059C41;
}

.btn-white {
    background-color: #DDE2DE;
}

.btn-white:hover {
    background-color: #CFD4D0;
}

.btn-darkGreen {
    background-color: #06CC55;
}

.btn-darkGreen:hover {
    background-color: #06BD4F;
}

.btn-red {
    background-color: #C51E1F;
}

.btn-red:hover {
    background-color: #BF1E1F;
}

.btn-yellow {
    background-color: #E4DE1F;
}

.btn-yellow:hover {
    background-color: #D4CE1E;
}

.btn-icon {
    gap: 10px;
}

.btn-nav {
    font-size: 48px;
    height: 100px;
}

.bold {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alata', sans-serif;
}

.msg {
    color: #1B1C1E;
    position: absolute;
    top: 6%;
    background-color: #add8e6cc;
    padding: 10px 20px;
    width: 30%;
    border-left: 5px solid #4169E1;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}